@charset "utf-8";

// -------------------------------------------------------
// Page.
// -------------------------------------------------------

.page {
  padding: 40px;
}

// -------------------------------------------------------
// Titles.
// -------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: Volter, sans-serif;
  font-weight: 400;
}

.page-content {

  h1, h2 {
    border-bottom: 2px dotted;
  }

  h1, {
    color: $brand-color-light;
    font-size: 2rem;
  }

  h2 { font-size: 1.8rem; }
  h3 { font-size: 1.6rem; }

  h4 {
    font-size: 1.4rem;

    &:before {
      content: ">> ";
    }
  }

  h5 { font-size: 1.2rem; }
  h6 { font-size: 1.1rem; }
}
