@charset "utf-8";

// -------------------------------------------------------
// Content.
// -------------------------------------------------------

.block {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 30px;
  width: 600px;
  background: #323232;
}

.block__title {

}

.block__content {

  blockquote {
    margin-bottom: 40px;
    font-family: $font-quote;
    font-size: 1.4rem;
    font-style: italic;

    .cite {
      margin-top: -15px;
      text-align: right;
    }
  }
}

// -------------------------------------------------------
// Images
// -------------------------------------------------------

.gallery {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 660px;
  text-align: center;

  ul { margin-bottom: 10px; }
  li { display: inline-block; padding: 0 10px; }

  img {
    display: block;

    width: 180px;
    height: auto;
    border: 1px solid #323232;
    box-shadow: 0 0 2px white;

    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;

    &:hover {
      box-shadow: 0 0 5px 1px white;
    }
  }

  p {
    font-size: 0.8rem;
    font-style: italic;
  }
}

// -------------------------------------------------------
// Contact.
// -------------------------------------------------------

.contact {
  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 10px;

    a {

    }
  }

  img {
    padding: 5px 0;
    height: 35px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 4px;
  }

  .mail img { width: 95px; }
  .mail a:hover img { border-color: lighten(#c0373c, 5%); }
  .twitter img { width: 113px; }
  .twitter a:hover img { border-color: lighten(#40a0c2, 5%); }
  .facebook img { width: 139px; }
  .facebook a:hover img { border-color: lighten(#2a3e82, 15%); }
}
