@charset "utf-8";

// -------------------------------------------------------
// Content.
// -------------------------------------------------------

.block {
  margin: 0 auto;
  padding: 30px;
  width: 600px;
  background: #323232;
}

.block__title {

}

.block__content {

  blockquote {
    margin-bottom: 40px;
    font-size: 1.4rem;
    font-style: italic;

    .cite {
      margin-top: -15px;
      text-align: right;
    }
  }

  > p {
    font-size: 1.2rem;
  }
}
