@charset "utf-8";

// -------------------------------------------------------
// Typography and vertical rythm.
// -------------------------------------------------------

html {
  color: $text-color;
  font-size: 100%;
  font-family: $font-normal;
  font-weight: 400;
  line-height: 1.4;
}

// Add the line-height as a the default spacing
h1, h2, h3, h4, h5, h6,hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-bottom: 1.4rem;
}

// -------------------------------------------------------
// Page.
// -------------------------------------------------------

body {
  background-image: -webkit-canvas(animation);
  background-color: $background-color;
}

// -------------------------------------------------------
// Links.
// -------------------------------------------------------

.page-content a {
  @extend %link;
}

// -------------------------------------------------------
// Titles.
// -------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: $font-pixel;
  font-weight: 400;
}

// .page-content {
//   h1, h2 {
//     border-bottom: 2px dotted;
//   }

//   h1 {
//     color: $brand-color-light;
//     font-size: 2rem;
//   }

//   h2 { font-size: 1.8rem; }
//   h3 { font-size: 1.6rem; }

//   h4 {
//     font-size: 1.4rem;

//     &:before {
//       content: ">> ";
//     }
//   }

//   h5 { font-size: 1.2rem; }
//   h6 { font-size: 1.1rem; }
// }


// -------------------------------------------------------
// Selections.
// -------------------------------------------------------

// Change the selection to white on green
::-moz-selection {
  background: $brand-color;
  color: white;
}

// Change the selection to white on green
::selection {
  background: $brand-color;
  color: white;
}

// -------------------------------------------------------
// Links.
// -------------------------------------------------------

%link {
  color: $brand-color;
  text-decoration: none;

  &:hover  { text-decoration: underline; color: $brand-color-dark; }
  &:active { color: $brand-color-light; }
  &:focus  { color: $brand-color-light; }
}
