@charset "utf-8";

// -------------------------------------------------------
// Content.
// -------------------------------------------------------

.page-content {
  padding: 40px;
}

@media only screen and (max-width: $phone-portrait-viewport) {
  .page-content {
    padding-left: 0;
    padding-right: 0;
  }
}

// -------------------------------------------------------
// Block.
// -------------------------------------------------------

.block {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 30px;
  width: 600px;
  background: #323232;
}

.block__title {
  border-bottom: 2px dotted;
  color: $brand-color-light;
  font-size: 2rem;
}

.block__content {
  blockquote {
    margin-bottom: 40px;
    font-family: $font-quote;
    font-size: 1.4rem;
    font-style: italic;
  }
}

@media only screen and (max-width: $phone-landscape-viewport) {
  .block {
    width: 100%;
    @include box-sizing(border-box);
  }

  .block__title {
    font-size: 1.6rem;
  }

  .block__content {
    blockquote {
      font-size: 1.1rem;
    }
  }
}

@media only screen and (max-width: $phone-portrait-viewport) {
  .block__title {
    font-size: 1.4rem;
  }
}

// -------------------------------------------------------
// Images
// -------------------------------------------------------

.gallery {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 660px;
  text-align: center;

  // Disable selection.
  @include user-select(none);
}

.gallery__list {
  margin-bottom: 10px;

  li { display: inline-block; padding: 0 10px; }

  img {
    display: block;

    margin-bottom: 20px;

    width: 180px;
    height: auto;
    border: 1px solid #323232;
    box-shadow: 0 0 2px white;

    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;

    &:hover {
      box-shadow: 0 0 5px 1px white;
    }
  }
}

.gallery__info {
  font-size: 0.8rem;
  font-style: italic;
}

@media only screen and (max-width: $phone-landscape-viewport) {
  .gallery {
    width: 100%;
  }

  .gallery__list {
    margin-bottom: 0;

    li {
      display: block !important;

      img {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media only screen and (max-width: $phone-landscape-viewport) {
  .gallery__info {
    padding: 0 20px;
  }
}

// Gallery images

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0.001;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

// -------------------------------------------------------
// Contact.
// -------------------------------------------------------

.contact {
  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }
}

// -------------------------------------------------------
// Social links.
// -------------------------------------------------------

.social-link {
  img {
    padding: 5px 0;
    height: 35px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 4px;
  }
}

.social-link--mail {
  img {
    width: 95px;
  }

  &:hover img {
    border-color: lighten(#c0373c, 5%);
  }
}

.social-link--twitter {
  img {
    width: 113px;
  }

  &:hover img {
    border-color: lighten(#40a0c2, 5%);
  }
}

.social-link--facebook {
  img {
    width: 139px;
  }

  &:hover img {
    border-color: lighten(#2a3e82, 15%);
  }
}

.social-link--presskit {
  img {
    width: 96px;
  }

  &:hover img {
    border-color: lighten(#A964B3, 5%);
  }
}

.social-link--tumblr {
  img {
    width: 103px;
  }

  &:hover img {
    border-color: lighten(#3D5A70, 5%);
  }
}
