@charset "utf-8";

// -------------------------------------------------------
// Content.
// -------------------------------------------------------

.page-content {
  padding: 40px;
}

@media only screen and (max-width: $phone-portrait-viewport) {
  .page-content {
    padding-left: 0;
    padding-right: 0;
  }
}

// -------------------------------------------------------
// Block.
// -------------------------------------------------------

.block {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 30px;
  width: 600px;
  background: #323232;
}

.block__title {
  border-bottom: 2px dotted;
  color: $brand-color-light;

  font-size: 1.4rem;
  text-transform: uppercase;
}

.block__subtitle {
  margin-top: 40px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.block__content {

}

.block__content:last-of-type {
  margin-bottom: 0;
}

.block__separator {
  padding: 10px 40px;

  img {
    max-width: 100%;
  }
}

@media only screen and (max-width: $phone-landscape-viewport) {
  .block {
    width: 100%;
    @include box-sizing(border-box);
  }
}

// -------------------------------------------------------
// Aside.
// -------------------------------------------------------

.block__definition {
  display: table;
  width: 100%;
  margin-bottom: 60px;

  aside {
    display: table-cell;
    padding-right: 30px;
    width: 25%;

    color: $brand-color-light;
    font-size: 1.2rem;
    font-family: $font-pixel;
    text-transform: uppercase;
    text-align: right;
  }

  div {
    display: table-cell;
    width: 75%;
    padding-bottom: 10px;
    vertical-align: top;

    border-bottom: 2px dotted rgba(255, 255, 255, 0.1);
  }

  p {
    margin-bottom: 10px;
  }
}

.block__definition:last-of-type {
  margin-bottom: 0;
}

// Special cases.

.platforms div {
  text-align: center;

  img {
    width: 280px;
    height: auto;
    max-width: 100%;
  }
}

// -------------------------------------------------------
// Videos.
// -------------------------------------------------------

.videos {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 660px;
  text-align: center;

  .video {
    margin-bottom: 10px;
  }

  iframe {
    border: 1px solid #323232;
    box-shadow: 0 0 2px white;
  }
}

@media only screen and (max-width: $phone-landscape-viewport) {
  .videos {
    max-width: 100%;
  }

  .videos iframe {
    width: 80%;
    height: 315px;
  }
}

@media only screen and (max-width: $phone-portrait-viewport) {
  .videos iframe {
    height: 200px;
  }
}

// -------------------------------------------------------
// Images
// -------------------------------------------------------

.gallery {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 660px;
  text-align: center;

  // Disable selection.
  @include user-select(none);
}

.gallery__list {
  margin-bottom: 0;

  li { display: inline-block; padding: 0 10px; }

  li.subtitle {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;

    color: white;
    font-size: 2rem;
    font-family: $font-pixel;
    text-transform: uppercase;
  }

  img {
    display: block;

    margin-bottom: 20px;

    width: 180px;
    height: auto;
    border: 1px solid #323232;
    box-shadow: 0 0 2px white;

    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;

    &:hover {
      box-shadow: 0 0 5px 1px white;
    }
  }

  img.gif, img.wallpaper {
    width: 290px;
  }
}

.gallery__info {
  font-size: 0.8rem;
  font-style: italic;
}

@media only screen and (max-width: $phone-landscape-viewport) {
  .gallery {
    width: 100%;
  }

  .gallery__info {
    padding: 0 20px;
  }
}

@media only screen and (max-width: $phone-portrait-viewport) {

  // Convert the preview into a single list.
  .gallery__list {
    li {
      display: block !important;

      img {
        margin-left: auto;
        margin-right: auto;

        width: 200px;
      }
    }
  }
}

// Gallery images

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0.001;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

// -------------------------------------------------------
// Widget.
// -------------------------------------------------------

.preorder {
  margin-bottom: 40px;
  text-align: center;

  a:hover img {
    transform: translateY(0) scale(0.95, 0.95);
  }

  img {
    max-width: 100%;
    width: 500px;
    height: auto;

    transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transform: translateY(0) scale(1, 1);
  }
}

.humble-widget {
  .widget {
    text-align: center;
  }
}

// -------------------------------------------------------
// Mails.
// -------------------------------------------------------

.mailchimp {
  aside {
    margin-top: -10px;
    color: $brand-color-light;
    font-size: 0.9rem;
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
  }
}

.mails {
  // Dirty mailchimp form.

  form {
    display: table;
  }

  .mc-field-group {
    display: table-cell;
    width: 80%;
  }

  .clear {
    padding-left: 10px;
    display: table-cell;
  }

  .email {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;

    background: #dddddd;
    border: 2px solid #dddddd;
    border-radius: 5px;
    outline: none;

    color: black;

    @include box-sizing(border-box);
    @include transition(all, 200ms, ease-in);

    &:focus {
      background: #ffffff;
      border-color: #ffffff;
    }
  }

  .button {
    display: inline-block;
    margin: 0 auto;
    padding: 5px 15px;

    background: none;
    border: 3px dotted;

    color: white;
    font-family: $font-pixel;
    font-size: 1.2rem;
    cursor: pointer;

    @include user-select(none);
    @include transition(color, 50ms, ease-out);

    &:hover {
      color: $brand-color;
    }
  }
}
