@charset "utf-8";

// -------------------------------------------------------
// Content.
// -------------------------------------------------------

.page-content {
  padding: 40px;
}

@media only screen and (max-width: $phone-portrait-viewport) {
  .page-content {
    padding-left: 0;
    padding-right: 0;
  }
}

// -------------------------------------------------------
// Block.
// -------------------------------------------------------

.block {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 30px;
  width: 600px;
  background: #323232;
}

.block__title {
  border-bottom: 2px dotted;
  color: $brand-color-light;
  font-size: 2rem;
}

.block__content {
  blockquote {
    margin-bottom: 40px;
    font-family: $font-quote;
    font-size: 1.4rem;
    font-style: italic;
  }
}

@media only screen and (max-width: $phone-landscape-viewport) {
  .block {
    width: 100%;
    @include box-sizing(border-box);
  }

  .block__title {
    font-size: 1.6rem;
  }

  .block__content {
    blockquote {
      font-size: 1.1rem;
    }
  }
}

@media only screen and (max-width: $phone-portrait-viewport) {
  .block__title {
    font-size: 1.4rem;
  }
}

// -------------------------------------------------------
// Images
// -------------------------------------------------------

.gallery {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 660px;
  text-align: center;

  // Disable selection.
  @include user-select(none);
}

.gallery__list {
  margin-bottom: 0;

  li { display: inline-block; padding: 0 10px; }

  img {
    display: block;

    margin-bottom: 20px;

    width: 180px;
    height: auto;
    border: 1px solid #323232;
    box-shadow: 0 0 2px white;

    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;

    &:hover {
      box-shadow: 0 0 5px 1px white;
    }
  }
}

.gallery__info {
  font-size: 0.8rem;
  font-style: italic;
}

@media only screen and (max-width: $phone-landscape-viewport) {
  .gallery {
    width: 100%;
  }

  .gallery__info {
    padding: 0 20px;
  }
}

@media only screen and (max-width: $phone-portrait-viewport) {

  // Convert the preview into a single list.
  .gallery__list {
    li {
      display: block !important;

      img {
        margin-left: auto;
        margin-right: auto;

        width: 200px;
      }
    }
  }
}

// Gallery images

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0.001;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

// -------------------------------------------------------
// Platforms.
// -------------------------------------------------------

.platforms {
  display: table;
  padding-top: 20px;
  width: 100%;
  text-align: center;

  .image__ios {
    opacity: 0.5;
    width: 235px;
    height: 70px;
  }

  .image__lemmi {
    width: 246px;
    height: 167px;
  }
}

.platforms__stores {
  display: table-cell;
  width: 350px;
  vertical-align: middle;
}

.platforms__android {
  width: 150px;
  margin: 0 auto;
  color: #acacac;
  font-size: 0.8rem;
}

.platforms__lemmi {
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (max-width: $phone-landscape-viewport) {
  .platforms, .platforms__stores, .platforms__lemmi { display: block; width: 100%; }

  .platforms {
    padding-top: 50px;
  }

  .platforms__lemmi {
    padding-top: 30px;
  }
}

// -------------------------------------------------------
// Contact.
// -------------------------------------------------------

.contact {
  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }
}

// -------------------------------------------------------
// Social links.
// -------------------------------------------------------

.social-link {
  img {
    padding: 5px 0;
    height: 35px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 4px;
  }
}

.social-link--mail {
  img {
    width: 95px;
  }

  &:hover img {
    border-color: lighten(#c0373c, 5%);
  }
}

.social-link--twitter {
  img {
    width: 113px;
  }

  &:hover img {
    border-color: lighten(#40a0c2, 5%);
  }
}

.social-link--facebook {
  img {
    width: 139px;
  }

  &:hover img {
    border-color: lighten(#2a3e82, 15%);
  }
}

.social-link--presskit {
  img {
    width: 96px;
  }

  &:hover img {
    border-color: lighten(#A964B3, 5%);
  }
}

.social-link--tumblr {
  img {
    width: 103px;
  }

  &:hover img {
    border-color: lighten(#3D5A70, 5%);
  }
}

.social-link--rss {
  img {
    width: 96px;
  }

  &:hover img {
    border-color: lighten(#F0880A, 5%);
  }
}

// -------------------------------------------------------
// Mails.
// -------------------------------------------------------

.mailchimp {
  padding-top: 40px;

  aside {
    margin-top: -10px;
    color: $brand-color-light;
    font-size: 0.9rem;
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
  }
}

.mails {
  // Dirty mailchimp form.

  form {
    display: table;
  }

  .mc-field-group {
    display: table-cell;
    width: 80%;
  }

  .clear {
    padding-left: 10px;
    display: table-cell;
  }

  .email {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;

    background: #dddddd;
    border: 2px solid #dddddd;
    border-radius: 5px;
    outline: none;

    color: black;

    @include box-sizing(border-box);
    @include transition(all, 200ms, ease-in);

    &:focus {
      background: #ffffff;
      border-color: #ffffff;
    }
  }

  .button {
    display: block;
    margin: 0 auto;
    padding: 5px 15px;

    background: none;
    border: 3px dotted;

    color: white;
    font-family: $font-pixel;
    font-size: 1.2rem;
    cursor: pointer;

    @include user-select(none);
    @include transition(color, 50ms, ease-out);

    &:hover {
      color: $brand-color;
    }
  }
}
