@charset "utf-8";

// -------------------------------------------------------
// Header.
// -------------------------------------------------------

.page-header {
  position: relative;
  font-family: $font-pixel;
}

.header__banner {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.header__title {
  position: absolute; top: 0;

  margin: 0;
  padding: 30px 0;

  width: 100%;
  text-align: center;
}

.header__title img {
  width: 370px;
  height: auto;
}

.header__nav {
  background: black;
  box-shadow: 0 0 2px 3px lighten($background-color, 5%) inset;

  font-size: 1.2rem;
  text-align: center;

  ul {
    padding: 20px;
  }

  li {
    display: inline-block;
    padding: 0 20px;

    a {
      color: $brand-color;
      text-decoration: none;

      &:hover {
        color: $brand-color-light;
        text-shadow: $brand-color-light 0 0 8px;
      }
    }
  }
}

// -------------------------------------------------------
// Responsive. Larger to smaller.
// -------------------------------------------------------

@media only screen and (max-width: 950px) {

}

@media only screen and (max-width: 700px) {

}

@media only screen and (max-width: 600px) {

  .header__nav {
    li {
      display: block;
      margin-bottom: 10px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 500px) {

}

// -------------------------------------------------------
// Background.
// -------------------------------------------------------

.header-background {
  width: 100%;
  height: 400px;
}

.header-background__clouds,
.header-background__moon,
.header-background__planet {
  position: absolute;
}

.header-background__clouds {
  top: 0; right: 0;

  background: url("/static/images/header/clouds.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

@mixin slide-anim($anim, $duration) {
  -webkit-animation: $anim $duration linear infinite;
  -moz-animation:    $anim $duration linear infinite;
  -ms-animation:     $anim $duration linear infinite;
  -o-animation:      $anim $duration linear infinite;
  animation:         $anim $duration linear infinite;
}

.header-background__moon {
  top: 80px; left: 0px;

  background: url("/static/images/header/moon.png") no-repeat;
  background-size: 140px;

  width: 100%;
  height: 140px;

  // Animation.
  transform: translate3d(0,0,0);
  @include slide-anim(slide, 120s);
}

.header-background__planet {
  bottom: 0;

  background: url("/static/images/header/planet.png") no-repeat;
  background-size: 510px 326px;
  width: 510px;
  height: 326px;
}

// Ships.

.header-background__goliath {
  position: absolute;
  top: 50px;
  left: 0;

  width: 100%;

  transform: translate3d(0, 0, 0);
  @include slide-anim(slide-ship, 50s);

  img {
    width: 512px;
    height: 128px;
  }
}

.header-background__ship {
  position: absolute;
  top: 50px;
  left: 0;

  width: 100%;

  transform: translate3d(0, 0, 0);

  &.ship01 {
    top: 40px;
    @include slide-anim(slide-ship, 40s);
  }

  &.ship02 {
    top: 120px;
    @include slide-anim(slide-ship, 15s);
  }

  &.ship03 {
    top: 230px;
    @include slide-anim(slide-ship, 20s);
  }

  &.ship04 {
    top: 300px;
    @include slide-anim(slide-ship, 30s);
  }

  &.ship05 {
    top: 320px;
    @include slide-anim(slide-ship, 28s);
  }

  img {
    width: 38px;
    height: 6px;
  }
}


// -------------------------------------------------------
// Slide transition.
// -------------------------------------------------------

@-webkit-keyframes slide {
  from { @include transform( translate3d(100%, 0, 0) ); }
  to   { @include transform( translate3d(-20%, 0, 0) ); }
}

@-moz-keyframes slide {
  from { @include transform( translate3d(100%, 0, 0) ); }
  to   { @include transform( translate3d(-20%, 0, 0) ); }
}

@-o-keyframes slide {
  from { @include transform( translate3d(100%, 0, 0) ); }
  to   { @include transform( translate3d(-20%, 0, 0) ); }
}

@keyframes slide {
  from { @include transform( translate3d(100%, 0, 0) ); }
  to   { @include transform( translate3d(-20%, 0, 0) ); }
}

// Ships

@-webkit-keyframes slide-ship {
  from { @include transform( translate3d(-25%, 0, 0) ); }
  to   { @include transform( translate3d(100%, 0, 0) ); }
}

@-moz-keyframes slide-ship {
  from { @include transform( translate3d(-25%, 0, 0) ); }
  to   { @include transform( translate3d(100%, 0, 0) ); }
}

@-o-keyframes slide-ship {
  from { @include transform( translate3d(-25%, 0, 0) ); }
  to   { @include transform( translate3d(100%, 0, 0) ); }
}

@keyframes slide-ship {
  from { @include transform( translate3d(-25%, 0, 0) ); }
  to   { @include transform( translate3d(100%, 0, 0) ); }
}
