@charset "utf-8";

// -------------------------------------------------------
// Header.
// -------------------------------------------------------

.page-header {
  position: relative;
  font-family: $font-pixel;
}

.header__banner {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.header__title {
  position: absolute; top: 0;

  margin: 0;
  padding: 30px 0;

  width: 100%;
  text-align: center;
}

.header__title img {
  width: 370px;
  height: auto;
}

.header__nav {
  background: black;

  font-size: 1.2rem;
  text-align: center;

  ul {
    margin: 0;
    padding: 20px;
  }

  li {
    display: inline-block;
    padding: 0 20px;

    a {
      color: $brand-color;
      text-decoration: none;

      &:hover {
        color: $brand-color-light;
        text-shadow: $brand-color-light 0 0 8px;
      }
    }
  }
}

.header__nav:last-of-type {
  border-bottom: 2px solid lighten($background-color, 5%);
}

// -------------------------------------------------------
// Responsive. Larger to smaller.
// -------------------------------------------------------

@media only screen and (max-width: 950px) {

}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 700px) {
  .header__nav {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 600px) {
  .header__nav--primary {
    margin-bottom: 20px;
    font-size: 0.8rem;

    li {
      padding: 0 5px !important;
    }
  }

  .header__nav--secondary {
    font-size: 1.2rem;
    background: none;
    border: none !important;

    li {
      margin-bottom: 10px;
      padding: 0 20px;
    }
  }

  .header__banner {
    background: none;
  }

  .header-background {
    visibility: hidden;
  }
}

@media only screen and (max-width: 500px) {
  .heaver__nav li {

  }
  // .header__nav {
  //   li {
  //     display: block;
  //     margin-bottom: 10px;
  //   }

  //   li:last-child {
  //     margin-bottom: 0;
  //   }
  // }

  .header__title img {
    width: 280px;
  }
}

// ------------------------------------------------------------------------------------------

@mixin animate($anim, $duration) {
  -webkit-animation: $anim $duration linear infinite;
  -moz-animation:    $anim $duration linear infinite;
  -ms-animation:     $anim $duration linear infinite;
  -o-animation:      $anim $duration linear infinite;
  animation:         $anim $duration linear infinite;
}

// -------------------------------------------------------
// Animations + background.
// -------------------------------------------------------

// Title.

.header__title img {
  @include animate(scale-logo, 20s);
}

// Background.

.header-background {
  width: 100%;
  height: 400px;
}

// Responsive.

@media only screen and (max-width: 500px) {
  .header-background {
    height: 320px;

    .header-background__moon {
      background-size: 100px;
      height: 100px;
    }

    .header-background__planet {
      background-size: 340px 216px;
      width: 340px;
      height: 216px;
    }

    .header-background__ship {
      display: none;
    }
  }
}

// Elements.

.header-background__clouds,
.header-background__moon,
.header-background__planet {
  position: absolute;
}

.header-background__clouds {
  top: 0; right: 0;

  background: url("/static/images/header/clouds.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.header-background__moon {
  top: 80px; left: 0px;

  background: url("/static/images/header/moon.png") no-repeat;
  background-size: 140px;

  width: 100%;
  height: 140px;

  // Animation.
  transform: translate3d(0, 0, 0);
  @include animate(slide, 200s);
}

.header-background__planet {
  bottom: 0;

  background: url("/static/images/header/planet.png") no-repeat;
  background-size: 510px 326px;
  width: 510px;
  height: 326px;
}

// Ships.

.header-background__goliath {
  position: absolute;
  top: 50px;
  left: 0;

  width: 100%;

  transform: translate3d(0, 0, 0);
  @include animate(slide-ship, 100s);

  img {
    width: 512px;
    height: 128px;
  }
}

.header-background__ship {
  position: absolute;
  top: 50px;
  left: 0;

  width: 100%;

  img {
    width: 38px;
    height: 6px;
  }

  // Animations.

  transform: translate3d(0, 0, 0);

  &.ship01 {
    top: 40px;
    @include animate(slide-ship, 80s);
  }

  &.ship02 {
    top: 120px;
    @include animate(slide-ship, 30s);
  }

  &.ship03 {
    top: 230px;
    @include animate(slide-ship, 40s);
  }

  &.ship04 {
    top: 300px;
    @include animate(slide-ship, 60s);
  }

  &.ship05 {
    top: 320px;
    @include animate(slide-ship, 56s);
  }

  // Squad.
  &.ship06 {
    top: 210px;
    @include animate(slide-ship, 17.50s);
  }

  &.ship07 {
    top: 165px;
    @include animate(slide-ship, 18s);
  }

  &.ship08 {
    top: 185px;
    @include animate(slide-ship, 18.50s);
  }
}

// -------------------------------------------------------
// Slide transition.
// -------------------------------------------------------

@-webkit-keyframes slide {
  from { @include transform( translate3d(100%, 0, 0) ); }
  to   { @include transform( translate3d(-20%, 0, 0) ); }
}

@-moz-keyframes slide {
  from { @include transform( translate3d(100%, 0, 0) ); }
  to   { @include transform( translate3d(-20%, 0, 0) ); }
}

@-ms-keyframes slides {
  from { @include transform( translate3d(100%, 0, 0) ); }
  to   { @include transform( translate3d(-20%, 0, 0) ); }
}

@-o-keyframes slide {
  from { @include transform( translate3d(100%, 0, 0) ); }
  to   { @include transform( translate3d(-20%, 0, 0) ); }
}

@keyframes slide {
  from { @include transform( translate3d(100%, 0, 0) ); }
  to   { @include transform( translate3d(-20%, 0, 0) ); }
}

// Ships

@-webkit-keyframes slide-ship {
  from { @include transform( translate3d(-25%, 0, 0) ); }
  to   { @include transform( translate3d(100%, 0, 0) ); }
}

@-moz-keyframes slide-ship {
  from { @include transform( translate3d(-25%, 0, 0) ); }
  to   { @include transform( translate3d(100%, 0, 0) ); }
}

@-ms-keyframes slide-ship {
  from { @include transform( translate3d(-25%, 0, 0) ); }
  to   { @include transform( translate3d(100%, 0, 0) ); }
}

@-o-keyframes slide-ship {
  from { @include transform( translate3d(-25%, 0, 0) ); }
  to   { @include transform( translate3d(100%, 0, 0) ); }
}

@keyframes slide-ship {
  from { @include transform( translate3d(-25%, 0, 0) ); }
  to   { @include transform( translate3d(100%, 0, 0) ); }
}

// Logo.

@-webkit-keyframes scale-logo {
  0%   { @include transform( scale(1, 1)       ); }
  50%  { @include transform( scale(1.15, 1.15) ); }
  100% { @include transform( scale(1, 1)       ); }
}

@-moz-keyframes scale-logo {
  0%   { @include transform( scale(1, 1)       ); }
  50%  { @include transform( scale(1.15, 1.15) ); }
  100% { @include transform( scale(1, 1)       ); }
}

@-ms-keyframes scale-logo {
  0%   { @include transform( scale(1, 1)       ); }
  50%  { @include transform( scale(1.15, 1.15) ); }
  100% { @include transform( scale(1, 1)       ); }
}

@-o-keyframes scale-logo {
  0%   { @include transform( scale(1, 1)       ); }
  50%  { @include transform( scale(1.15, 1.15) ); }
  100% { @include transform( scale(1, 1)       ); }
}

@keyframes scale-logo {
  0%   { @include transform( scale(1, 1)       ); }
  50%  { @include transform( scale(1.15, 1.15) ); }
  100% { @include transform( scale(1, 1)       ); }
}
