@charset "utf-8";

// -------------------------------------------------------
// Header.
// -------------------------------------------------------

.page-header {
  padding-top: 30px;
  font-family: $font-pixel;
}

.header__title {
  text-align: center;
}

.header__nav {
  background: black;
  box-shadow: 0 0 2px 3px lighten($background-color, 5%) inset;

  font-size: 1.2rem;
  text-align: center;

  ul {
    padding: 20px;
  }

  li {
    display: inline-block;
    padding: 0 20px;

    a {
      color: $brand-color;
      text-decoration: none;

      &:hover {
        color: $brand-color-light;
        text-shadow: $brand-color-light 0 0 8px;
      }
    }
  }
}

// -------------------------------------------------------
// Responsive. Larger to smaller.
// -------------------------------------------------------

@media only screen and (max-width: 950px) {

}

@media only screen and (max-width: 700px) {

}

@media only screen and (max-width: 600px) {

  .header__nav {
    li {
      display: block;
      margin-bottom: 10px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 500px) {

}
