<section class="block contact" id="contact">
  <h1 class="block__title">Contact</h1>

  <div class="block__content">
    <p>
      You can contact us via:
    </p>

    <ul>
      <li class="mail">
        <a href="mailto:supermassive@pixelnest.io" title="Mail">
          <img src="{{ site.baseurl }}/static/images/mail.png" alt="Mail" title="Mail" />
        </a>
      </li>
      <li class="twitter">
        <a href="https://twitter.com/pixelnest" title="Twitter">
          <img src="{{ site.baseurl }}/static/images/twitter.png" alt="Twitter" title="Twitter" />
        </a>
      </li>
      <li class="facebook">
        <a href="https://facebook.com/pixelneststudio" title="Facebook">
          <img src="{{ site.baseurl }}/static/images/facebook.png" alt="Facebook" title="Facebook" />
        </a>
      </li>
    </ul>
  </div>
</section>
