<div class="gallery" id="images">
  <ul>
    <li>
      <a href="/static/medias/02.jpg">
        <img src="/static/medias/preview-02.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/static/medias/01.jpg">
        <img src="/static/medias/preview-01.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/static/medias/03.gif">
        <img src="/static/medias/preview-03.jpg" alt="Laser!" title="Laser!">
      </a>
    </li>
  </ul>

  <p>(These screenshots are not definitive. Work in progress.)</p>

  <div class="cache">
    <img src="/static/medias/01.jpg" />
    <img src="/static/medias/02.jpg" />
    <img src="/static/medias/03.gif" />
  </div>
</div>
