<section class="block" id="desc">
  <h1 class="block__title">
    Supermassivewhat?
  </h1>

  <div class="block__content">
    <blockquote>
      <p>Is there anything better than shooting, destroying and blowing up giant spaceships with a MASSIVE laser than a game that would make Michael Bay’s movies look like a boring romcom?</p>
    </blockquote>

    <p>
      Supermassive is an upcoming shooter developed by <a href="http://pixelnest.io">Pixelnest Studio</a> and <a href="http://pluspixels.tumblr.com">Plus</a>.
    </p>
    <p>
      What's in? Big pixels, endless, frenetic and delicious action scenes wrapped in an addictive gameplay. You want more? There's space pirates, aliens and disproportionately heavily armed battleships to fight!
    </p>

    <p>
      The development is already well underway. More to come, <a href="http://supermassive-devblog.tumblr.com">stay tuned with our devblog</a>.
    </p>
  </div>
</section>
