<section class="block">
  <h1 class="block__title">
    Supermassivewhat?
  </h1>

  <div class="block__content">
    <blockquote cite="Someone important. Somewhere.">
      <p>You know, there's people who think there's nothing but void in space. You know what? That's bullshit.</p>
      <p class="cite">— Someone important. Somewhere.</p>
    </blockquote>

    <p>
      Supermassive is an incredible and innovative shooter. It's… no, cut it out.
    </p>
    <p>
      We just wanted to create an awesome shmup: addictive, fun and with some great catchphrases. There's no portal-puzzling-twist-woaw-so-imaginative feature in there. Just a plain old boring and SO addictive game. Sometimes, that's all we need. ;)
    </p>
    <p>
      The development is already well underway. More to come, stay tuned!
    </p>
  </div>
</section>
