<header class="page-header">
  <p class="header__tagline">in space, <strong>everybody</strong> can hear you cry out loud</p>

  <h1 class="header__title">
    <img src="{{ site.baseurl }}/static/images/title.png" alt="Supermassive" title="Supermassive" />
  </h1>

  <nav class="header__nav">
    <ul>
      <li><a href="#trailer">trailer</a></li>
      <li><a href="#desc">description</a></li>
      <li><a href="#images">images</a></li>
      <li><a href="#contact">contact</a></li>
    </ul>
  </nav>
</header>
