<header class="page-header">
  <div class="header__banner">
    <div class="header-background">
      <div class="header-background__clouds"></div>
      <div class="header-background__moon"></div>
      <div class="header-background__planet"></div>

      <div class="header-background__goliath">
        <img src="/static/images/header/goliath.gif" />
      </div>

      <div class="header-background__ship ship01">
        <img src="/static/images/header/ship.gif" />
      </div>
      <div class="header-background__ship ship02">
        <img src="/static/images/header/ship.gif" />
      </div>
      <div class="header-background__ship ship03">
        <img src="/static/images/header/ship.gif" />
      </div>
      <div class="header-background__ship ship04">
        <img src="/static/images/header/ship.gif" />
      </div>
      <div class="header-background__ship ship05">
        <img src="/static/images/header/ship.gif" />
      </div>

      <div class="header-background__ship ship06">
        <img src="/static/images/header/ship.gif" />
      </div>
      <div class="header-background__ship ship07">
        <img src="/static/images/header/ship.gif" />
      </div>
      <div class="header-background__ship ship08">
        <img src="/static/images/header/ship.gif" />
      </div>
    </div>

    <h1 class="header__title">
      <img src="/static/images/logo.png" alt="STEREDENN" title="STEREDENN" />
    </h1>
  </div>

  <nav class="header__nav">
    <ul>
      <li><a href="#teaser">teaser</a></li>
      <li><a href="#desc">steredenn?</a></li>
      <li><a href="#humble-widget">pre-order</a></li>
      <li><a href="#images">images</a></li>
      <li><a href="#contact">contact & updates</a></li>
    </ul>
  </nav>
</header>
