<header class="page-header">
  <div class="header__banner">
    <div class="header-background">
      <div class="header-background__clouds"></div>
      <div class="header-background__moon"></div>
      <div class="header-background__planet"></div>
    </div>

    <h1 class="header__title">
      <!-- <img src="" alt="" title="" /> -->
      STEREDENN
    </h1>
  </div>

  <nav class="header__nav">
    <ul>
      <li><a href="#desc">steredenn?</a></li>
      <li><a href="#videos">videos</a></li>
      <li><a href="#images">images</a></li>
      <li><a href="#contact">contact & updates</a></li>
    </ul>
  </nav>
</header>
