<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Steredenn</title>

<!-- icons -->
<link rel="shortcut icon" href="/static/images/favicon.ico?v=0003" />

<!-- Tumblr rss -->
<link rel="alternate" type="application/rss+xml" href="http://steredenn-game.tumblr.com/rss">


<!-- description -->
<meta name="author" content="Pixelnest Studio">
<meta name="description" content="Steredenn. A big pixels space shooter-roguelike by Pixelnest Studio.">
<meta name="keywords" content="pixelnest, studio, damien, mayance, matthieu, oger, simon, coroller, plus, steredenn, shooter, big, pixels, game, roguelike, rogue, shmup, space, pirate, alien, spaceship, lemmi, videogame" />

<!-- css -->
<link rel="stylesheet" type="text/css" href="/static/fonts/volter.css">
<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/css/popup.css" />
<link rel="stylesheet" type="text/css" href="/static/css/site.css" />

<!-- open graph -->
<meta property="og:locale" content="en" />
<meta property="og:description" content="Steredenn is a roguelike-shmup video game for PC/Mac/Linux, Xbox One and PlayStation 4 made by Pixelnest Studio.">
<meta property="og:image" content="http://steredenn.pixelnest.io/static/medias/21.png">
<meta property="og:image:height" content="1920">
<meta property="og:image:width" content="1080">
<meta property="og:image:type" content="image/png">
<meta property="og:site_name" content="Steredenn">
<meta property="og:title" content="Steredenn">
<meta property="og:type" content="website">
<meta property="og:url" content="http://steredenn.pixelnest.io">

<!-- twitter -->
<meta name="twitter:card" content="photo">
<meta name="twitter:image:src" content="http://steredenn.pixelnest.io/static/medias/21.png">
<meta name="twitter:site" content="http://steredenn.pixelnest.io">
<meta name="twitter:title" content="Steredenn">
<meta name="twitter:url" content="http://steredenn.pixelnest.io">
