<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "VideoGame",
  "name": "Steredenn",
  "description": [
    {
      "@language": "en",
      "@value": "Steredenn is a roguelike-shmup video game for PC/Mac/Linux, Xbox One and PlayStation 4 made by Pixelnest Studio."
    },
    {
      "@language": "fr",
      "@value": "Steredenn est un space shooter et un roguelike frénétique tout en gros pixels, pour PC/Mac/Linux, Xbox One et PlayStation 4."
    }
  ],
  "genre": [
    "Action",
    "Shooter",
    "Shoot'em up",
    "Roguelike"
  ],
  "url": "http://steredenn.pixelnest.io/",
  "image": "http://steredenn.pixelnest.io/static/images/poster.png",
  "screenshot": "http://steredenn.pixelnest.io/static/images/background.png",
  "gamePlatform":["PC game", "Xbox One","PlayStation 4"],
  "applicationCategory": "Game",
  "operatingSystem": ["Windows", "macOS", "Linux", "Xbox One", "PlayStation 4"],
  "author": {
    "@type": "Organization",
    "name": "Pixelnest Studio",
    "url": "http://pixelnest.io"
  },
  "sameAs": [
    "https://www.youtube.com/channel/UCfe6TF6qtk-xVekuKN3OZAQ"
  ],
  "trailer": {
    "@type": "VideoObject",
    "url": "https://www.youtube.com/watch?v=EtXajayBLzw",
    "inLanguage": "en",
    "name": "Steredenn - Launch Trailer",
    "description": "Steredenn is a roguelike-shmup video game for PC/Mac/Linux, Xbox One and PlayStation 4 made by Pixelnest Studio.",
    "thumbnailUrl": "http://steredenn.pixelnest.io/static/images/trailer-02.png",
    "uploadDate": "2015-09-24"
  },
  "exampleOfWork": [
    {
      "@type": "VideoGame",
      "gamePlatform": [
        "https://fr.wikipedia.org/wiki/PC",
        "https://en.wikipedia.org/wiki/OS_X",
        "https://en.wikipedia.org/wiki/Linux"
      ],
      "contentRating": "PEGI 7",
      "applicationCategory": "Game",
      "operatingSystem": ["Windows", "macOS", "Linux"],
      "releasedEvent": {
        "@type": "PublicationEvent",
        "startDate": "2015-10-01",
        "location": {
          "@type": "Place",
          "name": "WW"
        }
      }
    },
    {
      "@type": "VideoGame",
      "gamePlatform": [
        "http://en.wikipedia.org/wiki/Xbox_One"
      ],
      "contentRating": "PEGI 7",
      "applicationCategory": "Game",
      "operatingSystem": "Xbox One",
      "releasedEvent": {
        "@type": "PublicationEvent",
        "startDate": "2016-04-01",
        "location": {
          "@type": "Country",
          "name": "WW"
        }
      }
    },
    {
      "@type": "VideoGame",
      "gamePlatform": [
        "http://en.wikipedia.org/wiki/PlayStation_4"
      ],
      "contentRating": "PEGI 7",
      "applicationCategory": "Game",
      "operatingSystem": "PlayStation 4",
      "releasedEvent": {
        "@type": "PublicationEvent",
        "startDate": "2016-06-28",
        "location": {
          "@type": "Country",
          "name": "WW"
        }
      }
    }
  ]
}
</script>
