@charset "UTF-8";
/*
 * Reset some styles.
 */
/*html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}*/
/*
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
  margin: 0;
}
*/
/* Container */
html, body {
  margin: 0;
  padding: 0; }

/* Title */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

/* List + paragraph */
ul, ol, dl, p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

/* Misc */
hgroup,
dd,
figure,
pre,
table,
fieldset,
hr {
  margin: 0;
  padding: 0; }

.align-center {
  text-align: center; }

html {
  color: white;
  font-size: 100%;
  font-family: Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-bottom: 1.4rem; }

body {
  background-color: #232323; }

::-moz-selection {
  background: #eb9a00;
  color: white; }

::selection {
  background: #eb9a00;
  color: white; }

.page-content a {
  color: #eb9a00;
  text-decoration: none; }
  .page-content a:hover {
    text-decoration: underline;
    color: #ae7303; }
  .page-content a:active {
    color: #f7b433; }
  .page-content a:focus {
    color: #f7b433; }

.page-content {
  padding: 40px; }

h1, h2, h3, h4, h5, h6 {
  font-family: Volter, sans-serif;
  font-weight: 400; }

.page-content h1, .page-content h2 {
  border-bottom: 2px dotted; }
.page-content h1 {
  color: #f7b433;
  font-size: 2rem; }
.page-content h2 {
  font-size: 1.8rem; }
.page-content h3 {
  font-size: 1.6rem; }
.page-content h4 {
  font-size: 1.4rem; }
  .page-content h4:before {
    content: ">> "; }
.page-content h5 {
  font-size: 1.2rem; }
.page-content h6 {
  font-size: 1.1rem; }

.page-header {
  padding-top: 30px;
  font-family: Volter, sans-serif; }

.header__title {
  margin-bottom: 50px;
  text-align: center; }
  .header__title img {
    max-width: 800px; }

.header__tagline {
  margin-bottom: 40px;
  font-size: 1.2rem;
  text-align: center; }
  .header__tagline:before {
    content: "“"; }
  .header__tagline:after {
    content: "”"; }
  .header__tagline strong {
    font-size: 1.6rem; }

.header__nav {
  background: black;
  box-shadow: 0 0 2px 3px #303030 inset;
  font-size: 1.2rem;
  text-align: center; }
  .header__nav ul {
    padding: 20px; }
  .header__nav li {
    display: inline-block;
    padding: 0 20px; }
    .header__nav li a {
      color: #eb9a00;
      text-decoration: none; }
      .header__nav li a:hover {
        color: #f7b433;
        text-shadow: #f7b433 0 0 8px; }

.page-footer {
  padding-top: 200px;
  font-family: Volter, sans-serif;
  text-align: center; }
  .page-footer a {
    color: white;
    text-decoration: none; }
    .page-footer a:hover {
      text-decoration: underline; }

.footer__copyright {
  margin: 0;
  font-size: 0.8rem; }

.footer__contact li {
  display: inline-block; }

.footer__contact .soon {
  color: #999; }
  .footer__contact .soon sup {
    font-size: 0.6rem; }

.block {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 30px;
  width: 600px;
  background: #323232; }

.block__content blockquote {
  margin-bottom: 40px;
  font-family: Cardo, serif;
  font-size: 1.4rem;
  font-style: italic; }
  .block__content blockquote .cite {
    margin-top: -15px;
    text-align: right; }

.gallery {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 660px;
  text-align: center; }
  .gallery ul {
    margin-bottom: 10px; }
  .gallery li {
    display: inline-block;
    padding: 0 10px; }
  .gallery img {
    display: block;
    width: 180px;
    height: auto;
    border: 1px solid #323232;
    box-shadow: 0 0 2px white;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in; }
    .gallery img:hover {
      box-shadow: 0 0 5px 1px white; }
  .gallery p {
    font-size: 0.8rem;
    font-style: italic; }

.contact ul {
  text-align: center; }
.contact li {
  display: inline-block;
  margin: 0 10px; }

.social-link img {
  padding: 5px 0;
  height: 35px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 4px; }

.social-link--mail img {
  width: 95px; }
.social-link--mail:hover img {
  border-color: #ca464b; }

.social-link--twitter img {
  width: 113px; }
.social-link--twitter:hover img {
  border-color: #53aac8; }

.social-link--facebook img {
  width: 139px; }
.social-link--facebook:hover img {
  border-color: #3d5abc; }

.social-link--tumblr img {
  width: 103px; }
.social-link--tumblr:hover img {
  border-color: #466781; }

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
  padding-top: 2rem; }
  .post h1:first-child, .post h2:first-child, .post h3:first-child, .post h4:first-child, .post h5:first-child, .post h6:first-child {
    padding-top: 0; }
