@charset "utf-8";

// -------------------------------------------------------
// Error (404, 500, etc.).
// -------------------------------------------------------

.page-error {
  margin: 0 auto;
  max-width: 300px;
  text-align: center;

  img {
    padding-top: 10px;
    margin-bottom: 50px;
  }

  .page-error__code {
    padding-top: 30px;
    color: #8d8d8d;
    font-family: $font-pixel;
    font-size: 0.9rem;
  }
}
