<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}
</head>
<body>
  <div class="page" id="page">
    <div class="page-content page-error">
      {% if page.image %}
        <img
          src="{{ page.image }}"
          title="{{ page.title }}"
          alt="{{ page.title }}"
        />
      {% endif %}

      {{ content }}

      {% if page.code %}
        <p class="page-error__code">
          Sector #{{ page.code }}
        </p>
      {% endif %}
    </div>
  </div>

  {% include ga.html %}
</body>
</html>
